{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-gradient shadow-sm sticky-top">
  <div class="container">
    <a class="navbar-brand fw-bold" href="/">
      <i class="fa-solid fa-terminal me-2"></i>Portofoliu
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav"
      aria-controls="nav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="nav">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link" href="/">Acasă</a></li>
        <li class="nav-item"><a class="nav-link" href="/proiecte/">Proiecte</a></li>
        <li class="nav-item"><a class="nav-link" href="/rezumat/">Rezumat</a></li>
        <li class="nav-item"><a class="nav-link" href="/contact/">Contact</a></li>
      </ul>
      <div class="ms-lg-3 mt-2 mt-lg-0 d-flex align-items-center gap-2">
        <button class="btn btn-sm btn-outline-light" type="button" id="themeToggle" data-theme-toggle title="Comută tema">
          <i class="fa-solid fa-moon me-1" data-icon-dark></i>
          <i class="fa-solid fa-sun me-1 d-none" data-icon-light></i>
          <span class="d-none d-sm-inline">Tema</span>
        </button>
      </div>
    </div>
  </div>
</nav>

